.homeMessage{
    font-size: 40px;
    font-family: monospace;
}
/* Define navigation block */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: black;
  }
  .prof{
    border-radius: 300%;
    width:300px;
    height:300px;
    float: left;
  }
.stack {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}
.stackMessage
{
    text-align: center;
    font-size: 60px;
    font-family: monospace;
}